# Google Cloud Compute Test Results

## Bencmark

'''
../cloudmesh-cloud/tests/cloud/test_00_sys.py::Test_Sys::test_benchmark
'''

+------------------+---------------------------------------------------------------------------------------------------+
| Attribute        | Value                                                                                             |
|------------------+---------------------------------------------------------------------------------------------------|
| cpu_count        | 4                                                                                                 |
| mem.active       | 6.8 GiB                                                                                           |
| mem.available    | 7.2 GiB                                                                                           |
| mem.free         | 403.4 MiB                                                                                         |
| mem.inactive     | 5.8 GiB                                                                                           |
| mem.percent      | 54.9 %                                                                                            |
| mem.total        | 16.0 GiB                                                                                          |
| mem.used         | 8.8 GiB                                                                                           |
| mem.wired        | 2.0 GiB                                                                                           |
| platform.version | 10.14.6                                                                                           |
| python           | 3.8.1 (v3.8.1:1b293b6006, Dec 18 2019, 14:08:53)                                                  |
|                  | [Clang 6.0 (clang-600.0.57)]                                                                      |
| python.pip       | 20.0.2                                                                                            |
| python.version   | 3.8.1                                                                                             |
| sys.platform     | darwin                                                                                            |
| uname.machine    | x86_64                                                                                            |
| uname.node       | rjdharmc-mac                                                                                      |
| uname.processor  | i386                                                                                              |
| uname.release    | 18.7.0                                                                                            |
| uname.system     | Darwin                                                                                            |
| uname.version    | Darwin Kernel Version 18.7.0: Mon Feb 10 21:08:45 PST 2020; root:xnu-4903.278.28~1/RELEASE_X86_64 |
| user             | rahul                                                                                             |
+------------------+---------------------------------------------------------------------------------------------------+
